<IfModule mod_headers.c>
    Header always add Set-Cookie "kurmigokanban-session=deleted; expires=Thu, 01 Jan 1970 00:00:00 GMT; Max-Age=0; path=/kanban; secure; HttpOnly; SameSite=Lax"
    Header always add Set-Cookie "kurmigokanban-session=deleted; expires=Thu, 01 Jan 1970 00:00:00 GMT; Max-Age=0; path=/; secure; HttpOnly; SameSite=Lax"
    Header always add Set-Cookie "kurmigo_kanban_session_v2=deleted; expires=Thu, 01 Jan 1970 00:00:00 GMT; Max-Age=0; path=/kanban; secure; HttpOnly; SameSite=Lax"
    Header always add Set-Cookie "kurmigo_kanban_session_v2=deleted; expires=Thu, 01 Jan 1970 00:00:00 GMT; Max-Age=0; path=/; secure; HttpOnly; SameSite=Lax"
    Header always add Set-Cookie "kurmigo_kanban_session_v3=deleted; expires=Thu, 01 Jan 1970 00:00:00 GMT; Max-Age=0; path=/kanban; secure; HttpOnly; SameSite=Lax"
    Header always add Set-Cookie "kurmigo_kanban_session_v3=deleted; expires=Thu, 01 Jan 1970 00:00:00 GMT; Max-Age=0; path=/; secure; HttpOnly; SameSite=Lax"
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
